---
layout: default
title: "Vipin Madhavanunni: Projects"
header_title: Projects
include_header: projects_header.html
nav_item: projects
---
{% for project in site.data.projects %}
  <div class="mxn2 clearfix mb2 border-bottom border-light-gray circle-line py3">
    <div class="col sm-col-4 px2 mb2">
<!--
      <a href="{{ project.url }}" target="_blank">
-->
        {% capture image_path %}projects/{{ project.image }}{% endcapture %}
        {% include image.html path=image_path alt=project.name %}
<!--
      </a>
-->
    </div>
    <div class="col sm-col-8 px2">
<!--
      <a href="{{ project.url }}" target="_blank" name="{{ project.name | downcase | replace:' ','-' | remove:',' }}">
-->
         <a id="{{ project.id }}"></a>
         <h2 class="mt0 mb0">{{ project.name }}</h2>
<!--
      </a>
-->
      <h5>{{ project.name_long }}</h5>
      {% if project.org != null %}
        <i class="fa fa-fw fa-lg fa-building-o"></i>
      	<span class="h5">{{ project.org }}</span>
        <br>
      {% endif %}
      {% if project.date != null %}
        <i class="fa fa-fw fa-lg fa-calendar"></i>
        <span class="h5">{{ project.date }}</span>
        <br>
      {% endif %}
      <p class="left-align">
          <br>
	  {{ project.description }}
      </p>
      {% if project.url != null %}
          <a href="{{ project.url }}" target="_blank" class="dark-gray">
            <i class="fa fa-fw fa-lg fa-info-circle"></i>
            <span class="h6">{{ project.url_label }}</span>
          </a><br>
      {% endif %}
      {% if project.src_url != null %}
          <a href="{{ project.src_url }}" target="_blank" class="dark-gray">
            <i class="fa fa-fw fa-lg fa-github-square"></i>
            <span class="h6">{{ project.src_label }}</span>
          </a><br>
      {% endif %}
      {% if project.doc_url != null %}
          <a href="{{ project.doc_url }}" target="_blank" class="dark-gray">
            <i class="fa fa-fw fa-lg fa-file-pdf-o"></i>
            <span class="h6">{{ project.doc_label }}</span>
          </a><br>
      {% endif %}
    </div>
    <a href="#top" class="sm-col-right col dark-gray h6">
       <i class="fa fa-fw fa-lg fa-angle-double-up"></i>
       Top
    </a>
  </div>
{% endfor %}
