# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Jekyll
_site/
.sass-cache/

# OS X
.DS_Store
.AppleDouble
.LSOverride


# Vagrant
.vagrant

# Gemfile
Gemfile.lock

# Temp blogger xml files
blogger

# Drafts
_drafts

# vendor
vendor
.bundle

# Added by script - add other file before this.
run-cmd.log
versions.json
help
