---
---
RewriteEngine On
RewriteBase /

{% for event in site.data.publications %}
  {% for section_hash in event %}
      {% for section in section_hash %}
              {% if section.id != null %}
                  {% if section.pdf != null %}
RewriteRule ^doc{{ event[0] }}{{ section.id }}.pdf {{ site.url }}{{ section.pdf }} [R=301,L]
                  {% endif %}
              	  {% if section.presentation != null %}
RewriteRule ^pre{{ event[0] }}{{ section.id }}.pdf {{ site.url }}{{ section.presentation }} [R=301,L]
                  {% endif %}
              {% endif %}
       {% endfor %}
  {% endfor %}
{% endfor %}

{% for event in site.data.talks %}
  {% for section_hash in event %}
      {% for section in section_hash %}
              {% if section.id != null %}
                  {% if section.pdf != null %}
RewriteRule ^doc{{ event[0] }}{{ section.id }}.pdf {{ site.url }}{{ section.pdf }} [R=301,L]
                  {% endif %}
                  {% if section.presentation != null %}
RewriteRule ^pre{{ event[0] }}{{ section.id }}.pdf {{ site.url }}{{ section.presentation }} [R=301,L]
                  {% endif %}
              {% endif %}
       {% endfor %}
  {% endfor %}
{% endfor %}
