<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    {% for section in site.data.about %}
    {% if section[0] != 'about' %}
    <h3 class="mb2">{{ section[0] }}</h3>
      {% for bullet in section[1] %}
      	<p>
         {{ bullet }}
      	</p>
      {% endfor %}
    {% endif %}
    {% endfor %}  
    <h3 class="mb2">Recent posts</h3>
    {% for post in site.posts limit:2 %}
      <a href="{{ post.url }}">{{ post.title }}</a><br>
    {% endfor %}
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
