---
layout: default
title: "Vipin Madhavanunni: Fraction of Second"
nav_item: fos
nav_item_writing: fos 
header_title: Fraction of Second
include_header: writing_header.html
include_comments:
  count: true
---

{% include writing-nav.html %}
<br>
<article class="mxn2 clearfix mb2 border-bottom border-light-gray circle-line py3">
  <div class="container-fluid">
    <div class="row no-gutter">
	{% for post in site.posts %}
  	    {% if post.tags contains 'Fraction of Second' %}  
                {% include photo-outline.html post=post %}
            {% endif %}
        {% endfor %}
    </div>
  </div>
</article>
